@{
    ViewBag.Title = "Змусьте комунальників працювати - повідомте про проблему!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_header")
@Html.Partial("_description")
<div id="report" class="container">
    <div>
        <!-- ko if: isFormVisible -->
        @Html.Partial("_form")
        <!-- /ko-->
        <!-- ko if: isDocumentVisible -->
        @Html.Partial("_document")
        <!-- /ko -->
        <!-- ko if: isSummaryVisible -->
        @Html.Partial("_summary")
        <!-- /ko -->
    </div>
</div>